<mat-toolbar class="header-toolbar">
    <div class="app-logo">
      <img src="assets/icons/icon.png" alt="" class="app-logo__logo">
      <div>
        <span>Lista Animes MVP</span> - <span style="font-size: 10px;">by Tulin</span>
      </div>
    </div>
</mat-toolbar>

<div class="page-container">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer-toolbar">
  <div class="footer-actions">
    <button mat-icon-button class="home-button" [routerLink]="'/animes'">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="home-button" [routerLink]="'/lista'">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button class="home-button">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
